<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<meta http-equiv="Content-Script-Type" content="text/javascript; charset=ISO-8859-1" />
<title>Device View</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>
<body>

<!-- start main ***start Contents here*************************************************************-->
<!-- Minimum width when window is resized -->
<div class="container">
  <div class="minwidth">
    <div class="box">
      <!-- end min-width -->

      <div id="main"><!-- For contents layout ( common settigns ) -->
    <div id="device-view">
      <table class="wltable">
        <tr>
          <td>
        <#machine_name_message#><#machine_name_code#>
          </td>
        </tr>
        <tr>
          <td>
        <#address_message#><#address_code#>
          </td>
        </tr>
        <tr>
          <td>
        <#point_message#><#point_code#>
          </td>
        </tr>
        <tr>
          <td>
        <#type_message#><#type_code#>
          </td>
        </tr>
        <tr>
          <td>
        <#update_message#><#update_code#>
          </td>
        </tr>
        <tr>
          <td>
        <#manager_message#><#warn_code#><#manager_return_code#>
          </td>
        </tr>
      </table>
         </div><!-- * end main *************(End of contents)******************************************************-->

      <!-- min-width Close Tag group -->
    </div><!-- end container -->
  </div><!-- end minwidth -->
</div><!-- end box -->
<!-- end min-width Close Tag group -->
</body>
</html>
