<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<title>Writing to Device View complete</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>
<!-- Writing to Device View complete (closeing in 1.5 seconds) -->
<body onLoad="setTimeout('window.close()',1500)">

  <div id="main"><!-- start main -->

    <div id="device-write"><!-- start device-write -->
      <h1><img src="/AGP/images/<#language#>/h1_d_ico.jpg" alt="Contents Title" border="0 "/>&nbsp;Device View (write complete)</h1>

      <div class="device-r-top">&nbsp;</div><!-- (Rounded top) -->
      <div class="device-r-body">
    <p class="done">Completed writing to Device View.</p>
      </div><!-- end device-r-body -->
      <div class="device-r-bottom">&nbsp;</div><!-- (Rounded bottom) -->
      </div><!-- end device-write -->
    </div><!-- end main -->
</body>
</html>
