<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Script-Type" content="text/javascript; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/style; charset=ISO-8859-1" />
<title>Access points:100</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="refresh" content="<#update#>" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
<script type="text/javascript" src="/AGP/js/<#language#>/agp.js"></script>
<script language="JavaScript" type="text/JavaScript">
// <![CDATA[
    function openWindow(address) {
        <###$write_window_link$openDeviceViewWrite('<#language#>', '<#machine_name#>', address, '<#type#>');###>
    }
// ]]>
</script>
<style type="text/css"> 
<!-- 
a:link, a:visited, a:hover, a:active { color: black; } 
.device-monitor-value { cursor: default; } 
<###$write_window_link$
a:link {color:#134685; text-decoration:none;}
a:visited {color:#134685; text-decoration:none;}
a:hover , a:active {color:#ff0000; text-decoration:none;}
.device-monitor-value { cursor: pointer; } 
###>
-->
</style>
</head>
<body>

  <!-- Minimum width when window is resized -->
  <div class="container">
    <div class="minwidth">
      <div class="box">
	<!-- end min-width -->

	<!-- Access points:100 -->
	<div id="main"><!-- start main -->
	  <div id="device-monitor"><!-- start device-monitor -->

            <table class="dm_tdl">
              <tr>
		<td></td>
		<th class="th-a">+0</th>
		<th class="th-a">+1</th>
		<th class="th-a">+2</th>
		<th class="th-a">+3</th>
		<th class="th-a">+4</th>
              </tr>
              <tr>
		<th><#address_1#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_1#>')"><#data_1#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_2#>')"><#data_2#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_3#>')"><#data_3#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_4#>')"><#data_4#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_5#>')"><#data_5#></a></td>
		</tr>
		<tr>
		<th><#address_6#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_6#>')"><#data_6#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_7#>')"><#data_7#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_8#>')"><#data_8#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_9#>')"><#data_9#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_10#>')"><#data_10#></a></td>
		</tr>
		<tr>
		<th><#address_11#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_11#>')"><#data_11#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_12#>')"><#data_12#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_13#>')"><#data_13#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_14#>')"><#data_14#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_15#>')"><#data_15#></a></td>
		</tr>
		<tr>
		<th><#address_16#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_16#>')"><#data_16#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_17#>')"><#data_17#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_18#>')"><#data_18#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_19#>')"><#data_19#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_20#>')"><#data_20#></a></td>
              </tr>
              <tr>
		<th><#address_21#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_21#>')"><#data_21#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_22#>')"><#data_22#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_23#>')"><#data_23#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_24#>')"><#data_24#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_25#>')"><#data_25#></a></td>
              </tr>
              <tr>
		<th><#address_26#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_26#>')"><#data_26#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_27#>')"><#data_27#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_28#>')"><#data_28#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_29#>')"><#data_29#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_30#>')"><#data_30#></a></td>
              </tr>
              <tr>
		<th><#address_31#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_31#>')"><#data_31#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_32#>')"><#data_32#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_33#>')"><#data_33#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_34#>')"><#data_34#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_35#>')"><#data_35#></a></td>
              </tr>
              <tr>
		<th><#address_36#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_36#>')"><#data_36#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_37#>')"><#data_37#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_38#>')"><#data_38#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_39#>')"><#data_39#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_40#>')"><#data_40#></a></td>
              </tr>
              <tr>
		<th><#address_41#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_41#>')"><#data_41#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_42#>')"><#data_42#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_43#>')"><#data_43#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_44#>')"><#data_44#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_45#>')"><#data_45#></a></td>
              </tr>
              <tr>
		<th><#address_46#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_46#>')"><#data_46#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_47#>')"><#data_47#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_48#>')"><#data_48#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_49#>')"><#data_49#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_50#>')"><#data_50#></a></td>
              </tr>
              <tr>
		<th><#address_51#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_51#>')"><#data_51#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_52#>')"><#data_52#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_53#>')"><#data_53#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_54#>')"><#data_54#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_55#>')"><#data_55#></a></td>
              </tr>
              <tr>
		<th><#address_56#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_56#>')"><#data_56#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_57#>')"><#data_57#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_58#>')"><#data_58#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_59#>')"><#data_59#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_60#>')"><#data_60#></a></td>
              </tr>
              <tr>
 		<th><#address_61#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_61#>')"><#data_61#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_62#>')"><#data_62#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_63#>')"><#data_63#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_64#>')"><#data_64#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_65#>')"><#data_65#></a></td>
              </tr>
              <tr>
 		<th><#address_66#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_66#>')"><#data_66#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_67#>')"><#data_67#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_68#>')"><#data_68#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_69#>')"><#data_69#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_70#>')"><#data_70#></a></td>
              </tr>
              <tr>
 		<th><#address_71#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_71#>')"><#data_71#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_72#>')"><#data_72#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_73#>')"><#data_73#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_74#>')"><#data_74#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_75#>')"><#data_75#></a></td>
              </tr>
              <tr>
 		<th><#address_76#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_76#>')"><#data_76#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_77#>')"><#data_77#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_78#>')"><#data_78#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_79#>')"><#data_79#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_80#>')"><#data_80#></a></td>
              </tr>
              <tr>
 		<th><#address_81#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_81#>')"><#data_81#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_82#>')"><#data_82#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_83#>')"><#data_83#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_84#>')"><#data_84#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_85#>')"><#data_85#></a></td>
              </tr>
              <tr>
 		<th><#address_86#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_86#>')"><#data_86#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_87#>')"><#data_87#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_88#>')"><#data_88#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_89#>')"><#data_89#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_90#>')"><#data_90#></a></td>
              </tr>
              <tr>
 		<th><#address_91#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_91#>')"><#data_91#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_92#>')"><#data_92#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_93#>')"><#data_93#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_94#>')"><#data_94#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_95#>')"><#data_95#></a></td>
              </tr>
              <tr>
 		<th><#address_96#></th>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_96#>')"><#data_96#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_97#>')"><#data_97#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_98#>')"><#data_98#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_99#>')"><#data_99#></a></td>
		<td class="<#css_class#>"><a class="device-monitor-value" href="#" onclick="openWindow('<#address_100#>')"><#data_100#></a></td>
              </tr>
            </table>

          </div><!-- end device-monitor -->
        </div><!-- end main -->
				
        <!-- min-width Close Tag group -->
      </div><!-- end container -->
    </div><!-- end minwidth -->
  </div><!-- end box -->
   <!-- end min-width Close Tag group -->
 </body>
</html>
