<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<title>Writing to Device View complete</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>
<!-- Writing to Device View complete (closeing in 1.5 seconds) -->
<body onLoad="history.go(-1);">

	<div data-role="page" id="page-write" data-theme="a">
		<div data-role="header" data-position="fixed" data-theme="a">
			<p style="align-content:center">LPCR - Intelli House</p>
			<a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-right">Paramètres</a>
		</div>

		<div data-role="content" data-theme="a">
			Ecriture réussie
		</div>

		<div data-role="footer" data-position="fixed">
			<p id="P2"></p>
		</div>		
	<script type="text/javascript">
		$( "#page-write" ).on( "pageinit", function () {
			console.log( "before back!" );
			history.back( -1 );
			console.log( "back done!" );
		});

 		//$( "#page-write" ).on( "pagebeforeshow", function () {
			//console.log( "before back!" );
			//history.back( -1 );
			//console.log( "back done!" );
		//});

		//$( "#page-write" ).on( "pageshow", function () {
			//console.log( "before back!" );
			//history.back( -1 );
			//console.log( "back done!" );
		//});
		</script>

		</div> <!-- id="page-write" -->	
</body>
</html>
