<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<title>Remote Maintenance</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>

<!-- Frame setting -->
<frameset rows="160px,*" border="0" frameborder="0">
  <frame name="form" src="/goform/Controller?req=device_view_form&lang=<#language#>" scrolling="no" />
  <frame name="monitor" src="/goform/Controller?req=device_view_monitor&lang=<#language#>" scrolling="auto" />
<!--   <frame name="form" src="device_view_form.html" scrolling="auto" /> -->
<!--   <frame name="monitor" src="device_example.html" scrolling="auto" /> -->
</frameset>

</html>
