<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<title>Equipment Information</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>

<body>
  <!-- Minimum width when window is resized -->
  <div class="container">
    <div class="minwidth">
      <div class="box">
    <!-- end min-width -->
    
    <!-- start main ***Contents start here *************************************************************-->
    <div id="main"><!-- For contents layout(common settings) -->
      <!-- Contents Title -->
      <h1><img src="/AGP/images/<#language#>/h1_ico.jpg" alt="Contents Title" border="0" />&nbsp;Equipment Information</h1>
      
      <div class="contents"><!-- start contents-->
        
        <div class="rbox"><!-- Contents Background (Rounded and Corner Settings)-->
          <div class="rtop">
        <span class="r1"></span><span class="r2"></span><span class="r3"></span><span class="r4"></span>
          </div><!-- rtop -->

          <div class="textbox">
        
        <div id="version"><!-- start version -->
          <ul>
            <li>Runtime / System Version&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1"><#runtime_version#></span></li>
            <li>Driver Version1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1"><#driver_version1#></span></li>
            <li>Driver Version2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1"><#driver_version2#></span></li>
            <li>Driver Version3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1"><#driver_version3#></span></li>
            <li>Driver Version4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1"><#driver_version4#></span></li>
            <li>Operating System / Subsystem Version&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1"><#os_version#></span></li>

<!--            <li>Operating System Version&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="st_1">2.00.01</span></li> -->
            </ul>
            </div><!-- end version ******* -->
            
<!--            <div id="setup_table"><\!-- start setup_table ****(Drawing a table)**** -\-> -->
<!--              <table class="table1"> -->
<!--            <tr> -->
<!--              <th rowspan="2">PRX</th> -->
<!--              <td class="aa">File Name</td> -->
<!--              <td>maunter.prx</td> -->
<!--            </tr> -->
<!--            <tr> -->
<!--              <td class="aa">Update</td> -->
<!--              <td>2007/02/19/ 15:50</td> -->
<!--            </tr> -->
<!--            <tr> -->
<!--              <th rowspan="3">NPX</th> -->
<!--              <td class="aa">File Name</td> -->
<!--              <td></td> -->
<!--            </tr> -->
<!--            <tr> -->
<!--              <td class="aa">Update</td> -->
<!--              <td></td> -->
<!--            </tr> -->
<!--            <tr> -->
<!--              <td class="aa">Build No</td> -->
<!--              <td></td> -->
<!--            </tr> -->
<!--              </table> -->
<!--            </div><\!-- end setup_table ***** -\-> -->
            
          </div><!-- end textbox -->
          
          <div class="rbottom"><!-- Contents Background (Rounded and Corner Settings)-->
            <span class="r4"></span><span class="r3"></span><span class="r2"></span><span class="r1"></span>
          </div><!-- end rbottom -->

        </div><!-- end rbox -->
        
          </div><!-- end contents-->
        </div><!-- * end main *************(End of contents)******************************************************-->

        <!-- min-width Close Tag Group -->
      </div><!-- end container -->
    </div><!-- end minwidth -->
      </div><!-- end box -->
      <!-- end min-width Close Tag group -->
    </body>
  </html>
