<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<title>Remote Maintenance</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>
<body>
  <!-- Minimum width when window is resized -->
  <div class="container">
    <div class="minwidth">
      <div class="box">
    <!-- end min-width -->
    <div id="d-error">
      <div class="d-error-top">&nbsp;</div><!-- Rounded top --> 
      <div class="d-error-body">
        <h1><img src="/AGP/images/<#language#>/warning-ico.jpg" alt="An error has occurred" />
        An error has occurred.</h1>
        <dl>
          <dt>Error Code</dt>
          <dd><#display_error_code#></dd>
        <dt>Error Message</dt>
	  <dd><#error_message#></dd>
        </dl>
      </div><!-- end d-error-body -->
      <div class="d-error-foot">&nbsp;</div><!-- Rounded top -->    
    </div><!-- end d-error -->

    <!-- min-width Close Tag group  -->
      </div><!-- end container -->
    </div><!-- end minwidth -->
  </div><!-- end box -->
  <!-- end min-width Close Tag Group -->
  
  <!--* start footer ************(fixed footer settings)*********************************-->
  <div id="footer">
    <address>
      Copyright(c) 1996-2007 Digital Electronics Corporation All rights reserved.
    </address>
  </div>
  <!-- * end footer *************(fixed footer settings)******************************** -->
<div class="solidline"></div> <!-- gray line -->
</body>
</html>
