<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Remote Maintenance</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
</head>
<body>

<script language="JavaScript">
// <![CDATA[
var wnd = parent;

// In the case of popup
if (window.name == "subwin")
{
//Close popup window and go back to the base window
    wnd = window.opener;
    window.close();
}

// Get the window in the top layer
while (wnd.name != "") 
{
    wnd = wnd.parent;
}

wnd.location = "/goform/Controller?req=display_error&error_code=<#error_code#>&lang=<#language#>";
//]]>
</script>
</body>
</html>
