<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<#language#>" lang="<#language#>">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css; charset=ISO-8859-1" />
<title>Remote Maintenance</title>
<meta name="Description" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<meta http-equiv="Keywords" content="Digital,Electronics,Pro-face,GP3000SERESE,HMI" />
<link rel="stylesheet" href="/AGP/css/<#language#>/style.css" type="text/css" />
</head>

<body>
  <!-- start main ***Contents start here*************************************************************-->
  <div id="main"><!-- For contents layout (common settings -->
    <!-- Contents Title -->
    <h1><img src="/AGP/images/<#language#>/h1_ico.jpg" alt="Contents Title" border="0" />&nbsp;Welcome&nbsp;<#user_name#></h1>
      
      <div class="contents"><!-- start contents-->
<!-- 	<div id="welcome"><\!-- start welcome -\-> -->
<!-- 	  <table class="wltable"> -->
<!-- 	    <tr> -->
<!--               <th>Certification Type</th> -->
<!--               <td>< #auth_type# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>User Name</th> -->
<!--               <td>< #user_name# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>Passwords</th> -->
<!--               <td>< #password# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>realm</th> -->
<!--               <td>< #realm# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>nonce</th> -->
<!--               <td>< #nonce# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>digest</th> -->
<!--               <td>< #digest# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>uri</th> -->
<!--               <td>< #uri# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>opaque</th> -->
<!--               <td>< #opaque# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>nc</th> -->
<!--               <td>< #nc# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>cnonce</th> -->
<!--               <td>< #cnonce# ></td> -->
<!-- 	    </tr> -->
<!-- 	    <tr> -->
<!--               <th>qop</th> -->
<!--               <td>< #qop# ></td> -->
<!-- 	    </tr> -->
<!-- 	  </table> -->
      
<!-- 	</div><\!-- end welcome ******* -\-> -->
     </div><!-- end contents-->
   </div><!-- * end main *************( End of Contents )******************************************************-->
  </body>
</html>
